.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  align-items: center;
  padding: 1rem;
}

.logo{
  font-weight: 900;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.icon{
  display: flex;
  justify-content: space-around;
}

.icon > a {
  margin: 0 7px;
  font-size: 20px;
}

.icon > a:hover {
  opacity: 60%;
}

a:link, a:visited {
  text-align: center;
  text-decoration: none;
  color: #000;
  display: inline-block;
}
